/* Place in your CSS file at the top of the document */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap');



*{
    background-color: rgb(43, 39, 68);
    padding: 0px;
    margin: 0px;
      /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
    135deg,
    #350235 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
    );
    background-size: 40px 40px;
    font-family: 'League Spartan', sans-serif;
    /* Animation */
    animation: move 4s linear infinite;
}
body{
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.header{
  display: flex;
  flex-direction: column;

}
.header h1 {
    background: rgb(44, 15, 160);
    background-color: #350235;
    font-size: 16px;
    text-align: center;
    color: aliceblue;
    padding-bottom: 9px;
}





.container{
    background: #350235;
    border-radius: 10px;
    background-color: #350235;
    width: 30rem;
    margin: 1rem;
    padding: 3rem;
    margin-top: 10rem;
}
div{
    background: rgb(138, 122, 201);
    background-color: #350235;
}

.circle{

    background-color: black;
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
}

.buttons{
    background: rgb(138, 122, 201);
    background-color: #350235;
    color: rgb(89, 28, 28);
    display: flex;
    flex-direction: column;
    
}
.question h1{
    background: #350235;
    font-size: 2rem;
    color: white;
    background-color: #350235;
    text-align: center;
    margin-bottom: 1.9rem;
}
.ques{
    background: rgb(138, 122, 201);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 1rem;
    padding: 0.7rem;
    margin: 0.5rem;
    transition: 0.3s ease all;
    z-index: 1;
    display: inline-block;
}

  button:hover{ 
    cursor: pointer;
    background-color: rgb(201, 197, 201);
  }
  
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
  


  .check_ans{
    display: flex;
    position: relative;
    margin-top: 1rem;
    margin-left: 11rem;
    background: rgb(138, 122, 201);
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }



  .scoring{
    margin: 1rem;
    background: white;
    background: #350235;
  }

  .scoring span{
    font-weight: 600;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 1rem;
    
    background: white;
    background: #350235;
  }


  #intro-text{
    background: #350235;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 1rem;
  }

  #intro-button{
    background: #350235;
    margin: 3rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    border: none;
  }


  .final-results{
    background: #350235;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .final-results span{
    font-size: 16px;
    color: white;
    font-weight: 500;
    background: #350235;
  }

  .final-results button{
    background: #350235;
    background-color: white;
    padding: 0.3rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
  }


  .count{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }
  .count span{
    background: #350235;
    color: white;
    font-weight: 600;
  }